.page-container {
  position: relative;
  text-align: center;
  height: var(--nav-size);
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Adequate", "Trebuchet MS", sans-serif;
  color: whitesmoke;
  background-color:hsla(0, 0%, 0%, 0.801);
  display: flex;
  flex-direction: column;
  /* background-image: url("./concrete_seamless.png"); */
}

.content-wrap{
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 80vh;
  flex: 1;
}

.navbar{
  position: relative;
  height: var(--nav-size);
  width: var(--nav-size);
  background-color: hsla(0, 0%, 0%, 0.801);
  padding: 1rem;
  border-bottom: 3px solid whitesmoke;
  margin-top: 0;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  color: whitesmoke;
  text-decoration: none;
}

.logo {
  float: left;
  display: flex;
  height: 30px;
  text-align: center;
  padding: 1rem;
  font-size: 30px;
  color:whitesmoke;
  background: #7991B2;
  border-radius: 2px;
}


button {
    background-color:#7991B2;
    margin: 2% 2% auto;
    color: white;
    padding: 20px;
    cursor: pointer;
    opacity: 0.9;
    font-size: 1rem;
    border-radius: 14px;
    box-shadow: 0 0 10px 0 rgba(211, 211, 211, 0.212);

  }

button:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.btn-submit {
  width: 75%;
  margin-top: 4vh;
}

.btn-choice {
  width: 40%;
  margin-right: 2% auto;
}

form {
  width: 50%;
  max-width: 70vh;
  min-width: 50vh;
  box-shadow: 0 0 10px 0 rgba(211, 211, 211, 0.212);
  border-radius: 15px;
  border-color: whitesmoke;
  text-align: center;
  margin: 8% auto;
  padding: 5%;
  /* background-image: url("./concrete_seamless.png"); */

}

.main-footer {
  position: relative;
  height: var(--nav-size);
  width: var(--nav-size);
  bottom: 0;
  /* padding: 1rem; */
  background-color: hsla(0, 0%, 0%, 0.801);
  color: whitesmoke;
  border-top: 8px solid #7991B2;
}

label {  
  display: inline; 
  float: left;
  /* width: 300px;  */
  padding-left: 1rem;
  margin: .5rem; 
}

input {
  margin-left: 10px;
  display: inline-block;
  float: none;
}


.shift {
  width: 25%;
  max-width: 33%;
  display: block;
  float: left;
  box-shadow: 0 0 10px 0 rgba(211, 211, 211, 0.212);
  border-radius: 10px;
  border-color: whitesmoke;
  text-align: center;
  margin: 2% 2% auto;
  padding: 1%;
}